#btn {
    border: none;
    width: 245px; height: 50px; 
    background: #1bc0be;
    color: white; 
    font-size: 1rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
    max-width: 100%;
}

#btn:focus {
    outline: none;
  }
#usr {color: #1bc0be;}
#win {color: #ed911c;}
p {font-family: 'Martel', serif; font-size: 1.4rem}
ul, li, .prizes {font-family: 'Martel', serif; font-size: 1.2rem;
    list-style-type: none;
}

/* Monitors */

.wrap { 
    display: flex;
    width: 50%;
    margin-left: 32%;
    flex-direction: row;
    }

img {
    max-width: 100%;
}
.leftColumn {
    margin-top: 2%;
}

.rightColumn {
    margin-top: 7%;
    width: 50%;
}

.userInput {
    margin-left: 16%;
}

.info {
margin-top: 35%;
margin-bottom: 5%;
margin-right: 13%;
;}
    
.prizes {
font-size: 1rem;
}



/* Tablets */
@media screen and (min-width: 601px) and (max-width: 1023px) {
    .wrap {
        flex-direction: column;
        margin: 0 auto;
        }
        .leftColumn{
            margin-left: 0;
            }

    

        .rightColumn {
            margin-top: -33%;
            margin-right: 0;
            margin-left: 16%;
            width: 100%;
                }
        
    }


/* Smartphones */
@media screen and (min-width: 200px) and (max-width: 600px) {
.wrap {
    flex-direction: column;
    margin: 0 auto;
    }
.info {
    margin-top: -5%;
    margin-bottom: 10%;
    margin-right: 0%;
        ;}
 p {
    font-size: 1rem;
    }
#btn {
    font-size: 0.8rem;
}
.input {
    margin-bottom: 0;
}

.rightColumn {
    flex-direction: column;
    margin-top: 7%;
    margin-right: 0;
    width: 100%;
        }

.userInput {
    margin-left: 0;
        }

ul, li, .prizes {
    font-family: 'Martel', serif; font-size: 1.2rem;
    font-size: 0.8rem;
        }

    }